name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set STAGE environment
        run: echo "STAGE=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: node maskSecrets.js "${{secrets.${{env.STAGE}}-secrets}}"

      - name: Set STAGE environment
        run: echo "STAGE=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
      - run: echo ${STAGE}
      - run: echo ${{env.STAGE}}
      - name: Set SECRETS
        run: echo "${{secrets.SECRETS}}" >> $GITHUB_ENV
      - run: echo ${{env.A}}
      - run: echo ${{env.B}}
